.parent {
    background-image: url('../img/bg_image.jpg');
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;        /* растягивает картинку на весь div */
    background-position: center;
    top: 0;
    left: 0;
    overflow: auto;
}

.blur-block {
    backdrop-filter: blur(10px);
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.3);
    width: 500px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -175px 0 0 -250px;
    border: 2px solid #575353;
}

.form-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    margin: 100px auto 0 auto;
}

.form-container input,
.form-container button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    opacity: 1;
}

.form-container button {
    margin-left: 4%;
}

.form-container button:hover {
    background-color: #268afa;
    border-radius: 20px;
}

.form-container input {
    border: 2px solid #FFF;
    color: white;
}

.login-inp::placeholder,
.password-inp::placeholder{
    color: white;
    opacity: 1;
}



.form-container button {
    background-color: #462afa;
}
