.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav-bar li {
  float: left;

}

.nav-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav-bar li a:hover {
  background-color: #111;
}

.nav-bar form {
    margin-top: 4px;
    margin-left: 10px;
}

.inp-search {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}

.search-button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}

.search-button {
    background-color: #462afa;
    border-radius: 10px;
}

.search-button:hover {
    background-color: #465afa;
    border-radius: 10px;
}

.wagon-del-btn {
    position: absolute;
    right: 0;
    height: 25px;
    margin-right: 25px;
}

.striped-list {
  list-style-position: inside;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  width: 100%;
}

.striped-list li {
  padding: 5px;
  display: block;
  border: 1px solid #ccc;
}

/* Чётные строки — зелёные */
.striped-list li:nth-child(even) {
  background-color: #e0f7e9;
}

/* Нечётные строки — белые */
.striped-list li:nth-child(odd) {
  background-color: #ffffff;
}